<nav class="bottom-nav" id="bottomNav">
  <a href="/Web/index.html" class="nav-item" data-key="home">
    <span class="icon" style="--src: url('/Web/assets/icons/home.svg')"></span>
    <span class="label">Inicio</span>
  </a>
  <a href="/Web/preregistro/index.html" class="nav-item" data-key="preregistro">
    <span class="icon" style="--src: url('/Web/assets/icons/preregistro.svg')"></span>
    <span class="label">Eventos</span>
  </a>
  <a href="/Web/OTS/index.html" class="nav-item" data-key="pareos">
    <span class="icon" style="--src: url('/Web/assets/icons/pareos.svg')"></span>
    <span class="label">Pareos</span>
  </a>
  <a href="/Web/preregistro/utilities/consulta.html" class="nav-item" data-key="consulta">
    <span class="icon" style="--src: url('/Web/assets/icons/consulta.svg')"></span>
    <span class="label">Tu Status</span>
  </a>
  <a href="/Web/novedades/index.html" class="nav-item" data-key="productos">
    <span class="icon" style="--src: url('/Web/assets/icons/novedades.svg')"></span>
    <span class="label">Productos</span>
  </a>

</nav>
